<div class="grid-demo__visual-row grid-demo__visual-row--desktop">
  {{#range 12}}
    <span class="grid-demo__cell"></span>
  {{/range}}
</div>
<div class="grid-demo__visual-row grid-demo__visual-row--tablet">
  {{#range 8}}
    <span class="grid-demo__cell"></span>
  {{/range}}
</div>
<div class="grid-demo__visual-row grid-demo__visual-row--mobile">
  {{#range 4}}
    <span class="grid-demo__cell"></span>
  {{/range}}
</div>

