<section id="intro" class="intro-section">
  <h1 class="intro-section__title">Тестовое задание</h1>
  <div class="intro-section__level">Уровень: junior</div>
  <p class="intro-section__text">
    Привет! это тест задание
  </p>
</section>
