<section id="intro" class="section section--intro">
  <h1 class="section__title">
    {{content.sections.introTitle}}
  </h1>
  <div class="section__desc">
    {{content.sections.introDesc}}
  </div>
</section>
