{{!-- src/templates/sections/ui.hbs --}}
<section id="ui" class="ui-section">
  <h2 class="ui-section__title">UI</h2>
  
  <div class="ui-section__group">
    <div class="ui-section__label">Текстовое поле (E-mail):</div>
    <div class="ui-section__input-demo">
      {{> components/input }}
    </div>
  </div>

  <div class="ui-section__group">
    <div class="ui-section__label">Выпадающий список:</div>
    <div class="ui-section__input-demo">
      {{> components/select }}
    </div>
  </div>
  
  <div class="ui-section__group">
    <div class="ui-section__label">Кнопка:</div>
    <div class="ui-section__input-demo">
      {{> components/button }}
    </div>
  </div>
  
  <div class="ui-section__group">
    <div class="ui-section__label">Чекбокс:</div>
    <div class="ui-section__input-demo">
      {{> components/checkbox }}
    </div>
  </div>
  
  <div class="ui-section__group">
    <div class="ui-section__label">Радиобаттон:</div>
    <div class="ui-section__input-demo">
      {{> components/radio }}
    </div>
  </div>
  
  <div class="ui-section__group">
    <div class="ui-section__label">Аккордеон:</div>
    <div class="ui-section__input-demo">
      {{> components/accordion }}
    </div>
  </div>
</section>

