<div class="burger-menu">
  <div class="burger-menu__content">
    <img src="/src/assets/images/logo.svg" alt="Логотип" class="burger-menu__logo" />
    <div class="burger-menu__title">Задание выполнил</div>
    <div class="burger-menu__fio">{{user.fio}}</div>
    <div class="burger-menu__desc">{{user.description}}</div>
    <div class="burger-menu__phone">{{user.contacts.phone}}</div>
    <a class="burger-menu__social" href="{{user.contacts.telegram}}" target="_blank">Telegram</a>
    <!-- Добавь другие соцсети по желанию -->
  </div>
</div>