<aside class="sidebar">
  <nav class="sidebar__nav">
    <ul>
      <li><a href="#intro">Тестовое задание</a></li>
      <li><a href="#grid">Сетка</a></li>
      <li><a href="#typography">Типографика</a></li>
      <li><a href="#ui">UI</a></li>
    </ul>
  </nav>
</aside>
