{{!-- src/templates/components/accordion.hbs --}}

<div class="ui-accordion">
  <button class="ui-accordion__header" type="button">
    <span class="ui-accordion__title">Аккордеон</span>
    <span class="ui-accordion__arrow"></span>
  </button>
  <div class="ui-accordion__content">
    Гоpдость полными вагонами золотыми погонами<br>
    С юга дуют молодые вет...
  </div>
  <div class="ui-accordion__line"></div>
</div>
