{{!-- src/templates/components/button.hbs --}}

<div class="ui-buttons">
  {{!-- Обычная (интерактивная) кнопка --}}
  <button class="ui-button" type="button">
    {{ui.button.label}}
  </button>

  {{!-- Наведённая (hover) кнопка --}}
  <button class="ui-button hover" type="button" tabindex="-1" aria-disabled="true">
    {{ui.button.label}}
  </button>

  {{!-- Нажатая (active) кнопка --}}
  <button class="ui-button active" type="button" tabindex="-1" aria-disabled="true">
    {{ui.button.label}}
  </button>

  {{!-- Неактивная (disabled) кнопка --}}
  <button class="ui-button" type="button" disabled>
    {{ui.button.label}}
  </button>
</div>
