{{!-- src/templates/components/checkbox.hbs --}}
<label class="ui-checkbox">
  <input type="checkbox" class="ui-checkbox__input">
  <span class="ui-checkbox__custom"></span>
  <span class="ui-checkbox__label-text">
    <span class="default-text">Выбери меня</span>
    <span class="checked-text" style="display:none;">Птица счастья завтрашнего дня</span>
  </span>
</label>
