{{!-- src/templates/components/input.hbs --}}

<div class="ui-input">
  <label class="ui-input__field">
    <input
      type="email"
      class="ui-input__control"
      placeholder=" "
      autocomplete="off"
      required
    />
    <span class="ui-input__label">E-mail</span>
    <span class="ui-input__error">Текст ошибки</span>
  </label>
</div>
