{{!-- src/templates/components/radio.hbs --}}
<label class="ui-radio">
  <input type="radio" name="radio-group" class="ui-radio__input">
  <span class="ui-radio__custom"></span>
  <span class="ui-radio__label-text">
    <span class="default-text">Пластмассовый мир победил</span>
    <span class="hover-text" style="display:none;">Макет оказался сильней</span>
    <span class="checked-text" style="display:none;">Последний кораблик остыл</span>
  </span>
</label>
