{{!-- src/templates/components/select.hbs --}}

<div class="ui-select" tabindex="0">
  <div class="ui-select__field">
    <span class="ui-select__value">Выберите что-нибудь</span>
    <span class="ui-select__arrow"></span>
  </div>
  <div class="ui-select__dropdown">
    <div class="ui-select__option">Первый стул</div>
    <div class="ui-select__option">Второй стул</div>
    <div class="ui-select__option is-recommend">Теорема Эскобара</div>
    <div class="ui-select__option">Выбранный пункт</div>
  </div>
</div>
