<div class="wrapper">
  {{> partials/header }}

  <div class="main-layout">
    {{> partials/sidebar }}

    <main class="main-content">
      {{> sections/intro }}
      {{> sections/grid }}
      {{> sections/typography }}
      {{> sections/ui }}
    </main>
  </div>
  
  {{> partials/footer }}
</div>
