<div class="site-wrapper">
  {{> partials/header }}
  
  <div class="layout">
    {{> partials/sidebar }}
    
    <main class="main-content">
      {{> sections/intro }}
      {{> sections/grid }}
      {{> sections/typography }}
      {{> sections/ui }}
    </main>
  </div>
  
  {{> partials/footer }}
</div>
